{% extends "base.html" %}
{% block title %}About Me{% endblock title %}
{% block body %}
<div class="container-fluid top-image about">
    <div class="heading">
       <h1 class="main">About me</h1>
       <h3 class="sub"> Exploring Technology, One Project at a Time</h3>
   </div>
</div>
<div class="container text-center">
    <p class="about-paragraph">
        This portfolio is dedicated to showcasing the diverse range of projects I've undertaken during my academic and personal journey. Here, you'll find a curated collection of my work, each project highlighting specific skills and demonstrating my ability to solve problems creatively,develop innovative solutions.
        I believe that projects are the best reflection of one's capabilities. Explore the projects within to gain insights into my approach, technical proficiency, and creative vision.
        For a more comprehensive overview of my skills and experience, please visit my personal website from navigation link or <a href="https://vishal9821.github.io/vishal-aagwani/" class="web-links">click here!</a>
    </p>
</div>

{% endblock body %}

